<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subGrove.mapper.TableInfoMapper">

	<resultMap id="FieldInfoDto" type="com.subGrove.dto.FieldInfoDto" />
	
	<select id="selectAllTable" resultMap="FieldInfoDto">
		SELECT
		t1.Table_Name tableName,
		t3.comments tableCom,
		t1.Column_Name colName,
		t2.Comments colCom,
		t1.DATA_TYPE dataType,
		t1.DATA_LENGTH length,
		t1.NullAble nullAble
		FROM cols t1
		LEFT JOIN user_col_comments t2
		ON t1.Table_name = t2.Table_name
		AND t1.Column_Name = t2.Column_Name
		LEFT JOIN user_tab_comments t3
		ON t1.Table_name = t3.Table_name
		LEFT JOIN user_objects t4
		ON t1.table_name = t4.OBJECT_NAME
		WHERE NOT EXISTS (SELECT t4.Object_Name
		FROM User_objects t4
		WHERE t4.Object_Type = 'TABLE'
		AND t4.Temporary = 'Y'
		AND t4.Object_Name = t1.Table_Name) and not regexp_like(t1.TABLE_NAME,
		'[=]')  
		and lower(t1.table_name) in ('t1_cust_info','th_cust_trans_log')
		ORDER BY t1.Table_Name, t1.Column_ID
	</select>

</mapper>